.root {
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.input-panel {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  gap: 10px;
  width: 260px;
}

.input {
  border: none;
  background-color: #EFEFEF;
  padding: 8px 16px;
  border-radius: 20px;
}
.input:disabled {
  cursor: not-allowed;
}

.start-btn {
  cursor: pointer;
  background-color: #39ec80;
  border: none;
  padding-block: 6px;
  border-radius: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color .2s linear 0s;
}
.start-btn:disabled {
  cursor: not-allowed;
  background-color: #EFEFEF;
  color: #b8b8b8;
}

.table {
  max-width: 260px;
  background-color: #ffffff;
  /*padding-block: 20px;*/
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 10px 1px #ededed;
  border-radius: 8px;
}

.table thead td {
  text-align: center;
  padding: 3px 6px;
}

.row {
  flex-direction: row;
  align-self: stretch;
  text-align: center;
}
.row:last-of-type td {
  border-bottom: unset;
}
.row td {
  padding: 3px 6px;
  border-bottom: 1px solid #ededed;
}
.row td:first-of-type {
  border-right: 1px solid #ededed;
}
.row td:last-of-type {
  flex: 1;
}
